@import "reset.css";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-color: rgba(234, 232, 254, 1);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 171px;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.page-head {
    display: block;
    margin: 0 auto;
    margin-bottom: 68px;
}

.vd-mch-container {
    width: 360px;
    padding: 31px 27px 28px 27px;
    margin-right: 28px;
    background-color: rgba(255, 255, 255, 1);
}

.vd-mch-drinks-list {
    /* width: 300px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* text-align: center; */
}

.vd-mch-drinks-container {
    height: 130px;
    text-align: center;
    display: inline-block;
    padding: 11.07px 11px 0 13px;
    margin: 0 12px 12px 0;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 #969696;
    font-size: 9px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 13.03px;
}

.vd-mch-drinks-container:nth-child(3n) {
    margin-right: 0;
}
.vd-mch-drinks-container.selected {
    outline: 3px solid rgba(99, 39, 254, 1);
}
.vd-mch-drinks-container.soldout {
    position: relative;
}
.vd-mch-drinks-container.soldout::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0px;
    left: -2px;
    background-image: url(mediaquery/soldout.png);
    width: 90px;
    height: 130px;
    border-radius: 10px;
}

/* .vd-mch-drinks-container.soldout::after {
    content: '';
    display: inline-block;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 100;
    background-image: url('mediaquery/Sold-out.png');
    width: 51px;
    height: 27px;
} */

.drink-img {
    width: 35.86px;
    height: 64.86px;
    /* margin-bottom: 6.07px; */
}

.drink-name {
    font-size: 9px;
}
.drink-price {
    padding: 5px 16px;
    margin-top: 7px;
    margin-bottom: 9px;
    background-color: rgba(99, 39, 254, 1);
    color: white;
    border-radius: 50px;
}

.money-container {
    background-color: rgba(234, 232, 254, 1);
    float: left;
    width: 200px;
    padding: 6px 10px 7px 10px;
    margin-top: 8px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20.27px;
}

.money-container::after {
    content: '';
    display: block;
    clear: both;
}
.money-container [class$=txt] {
    float: left;
}

.money-container [class$=amt] {
    float: right;
}

.ctl-btn {
    width: 94px;
    height: 33px;
    float: right;
    background-color: white;
    border: none;
    box-shadow: 0 1px 5px 0 #969696;
    border-radius: 4px;
    font-weight: 500;
    font-size: 13px;
    line-height: 18.82px;
}

.ctl-btn.change-return {
    margin-top: 8px;
}

.ctl-btn.deposit {
    margin-top: 11px;
    margin-bottom: 12px;
    
}
.input-deposit {
    width: 200px;
    padding: 6px 0 8px 6px;
    margin-top: 11px;
    border-radius: 4px;
    border: 1px solid grey;
}

.selected-drinks-container {
    overflow: hidden;
    height: 106px;
    padding: 12px 18px 12px 12px;
    float: left;
    margin-top: 11px;
    background-color: rgba(234, 232, 254, 1);
    border: 1px solid grey;
    border-radius: 4px;
}

.selected-drink {
    background-color: white;
    width: 170px;
    margin-bottom: 6px;
    padding: 8px 8px 8px 10.04px;
    border-radius: 4px;
    font-size: 9px;
    font-weight: 500;
    line-height: 30px;
    
}

.selected-drink::after {
    content: '';
    display: block;
    clear: both;
}

.selected-drink-img {
    float:left;
    width: 17.93px;
    height: 32.93px;
    margin-right: 10.73px;

}
.selected-drink-txt {
    float: left;
}
.selected-drink-amt {
    float: right;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(189, 189, 189, 1);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    
}
.get-btn {
    float: right;
    padding: 43px 35px 44px 35px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: rgba(99, 39, 254, 1);
}

.my {
    display: flex;
    flex-direction: column;
}
.my-bdg-container {
    padding: 9px 27px;
    background-color: white;
}

.my-bdg-container .money-container {
    width: 306px;
    display: block;
    margin: 0;
}

.my-drinks-container {
    background-color: white;
    padding: 37px 21px 26px 20px;
    margin-top: 20px;
    text-align: center;
}
my-drinks-txt {
    font-weight: 700;
}
.my-drinks-list {
    overflow: auto;
    padding: 12px 18px 12px 12px;
    height: 364px;
    text-align: center;
    margin-top: 13px;
    background-color: rgba(234, 232, 254, 1);
}

.my-drink {
    padding: 6.04px 8px 7.04px 10.04px;
    margin-bottom: 6px;
    text-align: center;
    background-color: white;
    line-height: 30px;
}

.my-drink::after {
    content: '';
    display: block;
    clear: both;
}
.my-drink-img {
    width: 17.93px;
    height: 32.93px;
    float: left;
}
.my-drink-txt {
    float: left;
    margin-left: 10px;
    font-size: 9px;
    
}
.my-drink-amt {
    float: right;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}

.my-drink-ttl-price {
    float: right;
    margin-top: 6px;
    font-size: 12px;
    font-weight: 500;
}

@media only screen and (min-device-width: 320px) and
(max-device-width: 480px) and (-webkit-min-device-pixel-ratio:2) {
    body {
        background-color: #fff;
    }

    #app {
        padding-top: 65px;
    }

    #app .tit-app {
        width: 166px;
        height: 70px;
    }

    .my-info .cont-myitems {
        margin-top: 0;
        padding: 31px 27px 32px;
    }
}